<%- include('../../layout/header') %>
<div class="row">
  <div class="col-md-12">
    <div class="m-b-30">
      <h2>Danh sách dự án bảo trì</h2>
    </div>
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-data3">
        <thead>
          <tr class="thead-backgroup">
            <th>STT</th>
            <th>Tên chủ dự án</th>
            <th>Ngày bảo trì</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <% maintenances.forEach(function(maintenance, key) { %>
          <tr class="tr-shadow">
            <td><%= key + 1 %></td>
            <td>
              <span class="block-email"
                ><%= maintenance.project.full_name %></span
              >
            </td>
            <td class="desc"><%= maintenance.time %></td>
            <td>
              <span class="block-email"
                ><% if (maintenance.maintenanceActions.length === 0) { %>
    Chưa bảo trì
<% } else {
    let allCompleted = maintenance.maintenanceActions.every(function(action) { return action.status == 1; });
%>
    <% if(allCompleted) { %>
        Đã hoàn thành
    <% } else { %>
        Chưa hoàn thành
    <% } %>
<% } %>
</span
              >
            </td>
            <td>
              <div class="table-data-feature">
                <!-- Nút Edit để kích hoạt Modal -->
                <button
                  class="item edit-btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  class="item delete-btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr class="spacer"></tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../../layout/footer') %>
