<%- include('../../layout/header') %>



<div class="tab-pane preview-tab-pane active" role="tabpanel" 
aria-labelledby="tab-dom-da4be276-f13c-47d6-be82-655bc6452fd5" id="dom-da4be276-f13c-47d6-be82-655bc6452fd5">
<h4>Danh sách quy trình</h4>
  <div id="tableExample3" data-list='{"valueNames":["name","mota","action"],"page":20,"pagination":true}'>
    <div class="m-b-30">
      <button type="button" class="btn btn-primary me-1 mb-1 mt-2" id="add-new-position"> <i class="fas fa-plus-square"></i>&nbsp; Thêm mới</button>
    </div>
    <div class="row justify-content-end g-0">
      <div class="col-auto col-sm-5 mb-3">
       
        <form>

          <div class="input-group"><input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
            <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
          </div>
        </form>
      </div>
    </div>
    <div class="table-responsive scrollbar">
      <table class="table table-bordered table-striped fs-10 mb-0">
        <thead class="bg-200">
          <tr>
            <th class="text-900 sort" data-sort="name">Tên Tên Quy trình</th>
            <th class="text-900 sort" data-sort="mota">Mô tả</th>
            <th class="text-900 sort" data-sort="action">Tương tác</th>
          </tr>
        </thead>
        <tbody class="list">
          <% workflows.forEach(function(workflow, key) { %>
          <tr class="tr-shadow" data-id="<%= workflow.id %>"
            data-name="<%= workflow.name %>"
            data-description="<%= workflow.description %>">
            <td class="chucvu"><%= workflow.name %></td>
            <td class="mota"><%= workflow.description %></td>
            <td class="action">
             <div class="table-data-feature">
              <a class="m-1" href="/workflows/<%= workflow.id %>">
                
                <i class="fas fa-info-circle"></i>
               
             </a>
                <a class="item edit-btn btn-primary m-1" data-toggle="tooltip" data-placement="top" title="Edit">
                  <i class="fas fa-edit "></i>
                </a>
                <a class="item delete-btn btn-danger m-1" data-toggle="tooltip" data-placement="top" title="Delete">
                  <i class="fas fa-trash-alt "></i>
                </a>
              </div>
            </td>
          </tr>
          <tr class="spacer"></tr>
          <% }); %>
          
        </tbody>
      </table>
      
    </div>
    <div class="d-flex justify-content-center mt-3"><button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
      <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
    </div>
  </div>
</div>




<script>
$(document).ready(function() {
  // Hiển thị modal thêm mới
  $('#add-new-position').click(function() {
    var form =
      '<div class="modal fade" id="newWorkflowModal" tabindex="-1" aria-labelledby="newWorkflowModalLabel" aria-hidden="true">'+
        '<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h5 class="modal-title" id="newWorkflowModalLabel">Thêm mới quy trình</h5>'+
              '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'+
            '</div>'+
            '<div class="modal-body">'+
              '<form action="/workflows" method="post">'+
                '<div class="form-group">'+
                  '<label for="name">Tên quy trình:</label>'+
                  '<input type="text" class="form-control" id="name" name="name">'+
                '</div>'+
                '<div class="form-group">'+
                  '<label for="description">Mô tả:</label>'+
                  '<textarea class="form-control" id="description" name="description"></textarea>'+
                '</div>'+
                '<div class="form-group">' +
                '<button class="btn btn-secondary mt-1" type="button" data-bs-dismiss="modal">Đóng</button>' +
                '<button type="submit" class="btn btn-primary me-1 mb-1 mt-2 m-2">Thêm mới</button>' +
                '</div>' +
              '</form>'+
            '</div>'+
          '</div>'+
        '</div>'+
      '</div>';
    // Thêm form vào body
    $('body').append(form);
    // Hiển thị modal
    $('#newWorkflowModal').modal('show');
  });

  // Hiển thị modal chỉnh sửa khi click vào nút "Edit"
  $('.edit-btn').click(function() {
    // Lấy thông tin từ dòng được chọn
    var row = $(this).closest('tr');
    var id = row.data('id');
    var name = row.data('name');
    var description = row.data('description');

    // Tạo form chỉnh sửa động với dữ liệu từ dòng
    var editForm =
      '<div class="modal fade" id="editWorkflowModal" tabindex="-1" aria-labelledby="editWorkflowModalLabel" aria-hidden="true">'+
        '<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h5 class="modal-title" id="editWorkflowModalLabel">Chỉnh sửa quy trình</h5>'+
              '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'+
            '</div>'+
            '<div class="modal-body">'+
              '<form action="/workflows?_method=PATCH" method="POST" id="edit-position-form">'+
                '<input type="hidden" name="id" id="edit-id" value="'+ id +'">'+
                '<div class="form-group">'+
                  '<label for="edit-name">Tên quy trình:</label>'+
                  '<input type="text" class="form-control" id="edit-name" name="name" value="'+ name +'" required>'+
                '</div>'+
                '<div class="form-group">'+
                  '<label for="edit-description">Mô tả:</label>'+
                  '<textarea class="form-control" id="edit-description" name="description">'+ description +'</textarea>'+
                '</div>'+
               '<div class="form-group">' +
                '<button class="btn btn-secondary mt-1" type="button" data-bs-dismiss="modal">Đóng</button>' +
                '<button type="submit" class="btn btn-primary me-1 mb-1 mt-2 m-2">Thêm mới</button>' +
                '</div>' +
              '</form>'+
            '</div>'+
          '</div>'+
        '</div>'+
      '</div>';
    $('body').append(editForm);
    $('#editWorkflowModal').modal('show');
  });
});
</script>

<%- include('../../layout/footer') %>
